**/*/readme-examples/
**/*/test/
*.d.ts.map
*.test-helper.*
*.test.*
*.tgz
*.tsbuildinfo
.*
/Icon?
/configs/
/coverage/
/cspell.config.js
/graphics/
/public/
/src/
bash-scripts/
index.html
test-files/
tsconfig*.json

*.stories.d.ts
*.stories.js
*.story.d.ts
*.story.js
*.test.d.ts
*.test.js
*.test.ts
*test-helper*
.cspell-base.json
.cspell.json
.gitattributes
.github/
.gitignore
.prettierignore
.prettierrc.js
.storybook-dist
.storybook/
.virmator/
.vscode/
dist/*/element-testing/
dist/*/storybook-helpers/
dist/readme-examples/
dist/scripts/
dist/test/
dist/vite/
graphics/
netlify.toml
public/logo.png
rollup.config.js
scripts/
src/
tsconfig-base.json
tsconfig.*.json
tsconfig.json
web-test-runner.config.mjs