/Icon?
coverage/
dist-docs/
dist/
generated-config-*
graphics/
node_modules/
package-lock.json
src/all-files-for-code-coverage.test.ts
ts.out/
tsconfig.tsbuildinfo

.github/PULL_REQUEST_TEMPLATE.md
docs-dist/