/*
** Fonts
*/

/* Fallback for Browsers that doesn't support variable fonts */
@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Rubik-Regular.eot');
    src: url('./fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Regular.ttf') format('truetype'),
        url('./fonts/Rubik-Regular.woff') format('woff'),
        url('./fonts/Rubik-Regular.woff2') format('woff2'),
        url('./fonts/Rubik-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Rubik-Medium.eot');
    src: url('./fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Medium.ttf') format('truetype'),
        url('./fonts/Rubik-Medium.woff') format('woff'),
        url('./fonts/Rubik-Medium.woff2') format('woff2'),
        url('./fonts/Rubik-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Rubik-SemiBold.eot');
    src: url('./fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-SemiBold.ttf') format('truetype'),
        url('./fonts/Rubik-SemiBold.woff') format('woff'),
        url('./fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('./fonts/Rubik-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Rubik-Bold.eot');
    src: url('./fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Bold.ttf') format('truetype'),
        url('./fonts/Rubik-Bold.woff') format('woff'),
        url('./fonts/Rubik-Bold.woff2') format('woff2'),
        url('./fonts/Rubik-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-display: swap;
    src: url('./fonts/Rubik-Italic.eot');
    src: url('./fonts/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Rubik-Italic.ttf') format('truetype'),
        url('./fonts/Rubik-Italic.woff') format('woff'),
        url('./fonts/Rubik-Italic.woff2') format('woff2'),
        url('./fonts/Rubik-Italic.otf') format('opentype');
}
